<div class="container">
    <div class="row">
        <div class="col">
            <div id="order-info">
                <h1 class="text-center" style="padding:10px;">Review Order</h1>
                <div id="order-list-final">
                    <%= render "order_items/order_items_list_final" %>
                </div>
            </div>
        </div>
    </div>
</div>
    